src/main/mule/read_file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config"
		doc:id="dd2789b0-9289-46c4-b275-baa642533e3d">
		<http:listener-connection host="0.0.0.0"
			port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config"
		doc:id="f3ed9972-90c7-44ea-aeba-a8510a18af89">
		<file:connection
			workingDir="C:\Users\me\OneDrive\Desktop\read_file\src\main\resources" />

	</file:config>
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="0c50c412-3439-42b3-b660-99c7e4755377">
		<db:mssql-connection host="${db.host}"
			instanceName="Fiseha's Server" port="${db.port}" user="${db.username}"
			password="${secure::db.password}" databaseName="${db.db_name}" />
	</db:config>
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="9b4f95ad-1298-4d69-8433-9e20d838d13c" file="config.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="a9879399-547e-4db6-baf7-210290798436" file="config.yaml" key="mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="EntryFlow" doc:id="6ec062df-4fcd-4a18-9878-038a1e11314a" >
		<http:listener doc:name="Listener" doc:id="70173fd7-e3cc-4768-8e1c-9c845b652cf6" config-ref="HTTP_Listener_config" path="/api"/>
		<flow-ref doc:name="Flow Reference" doc:id="cd65dfd6-2bb6-41be-a10e-f274993ce534" name="ProcessFlow"/>
	</flow>
	<flow name="ProcessFlow" doc:id="1290c4c8-1295-4c98-bda4-0407e8fc36eb" >
		<file:read doc:name="Read" doc:id="e9efb107-803d-430e-bfe3-513b1d7c0a73" config-ref="File_Config" path="${file.path}" />
		<choice doc:name="Choice" doc:id="575cd8a2-2c08-4ff7-88e3-0fd68022f5b4">
			<when expression="#[sizeOf(payload) == 0]">
				<raise-error doc:name="Raise error" doc:id="ae33d14c-4178-48a1-b3e5-4a4452a13446" type="TEST_FILE:SIZE_EMPTY" description="File is more than 20 characters long. Error." />
			</when>
			<otherwise>
				<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d48bc273-ec36-4242-984a-4b0f05cce906" mimeType="application/json" />
				<db:select doc:name="Select" doc:id="9a909357-ff5a-4568-bf07-64f9dc8490bd" config-ref="Database_Config">
					<db:sql ><![CDATA[SELECT * FROM person WHERE eyeColor = 'Green';]]></db:sql>
				</db:select>
				<ee:transform doc:name="Transform Message" doc:id="15680409-d6c0-4132-b91a-d3cbc6113926" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"result": payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="dummy Logger" doc:id="3fcd2f45-4a40-4338-aaa7-76590e5da640" />
			
</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="a86aecca-47f5-47bd-b5b7-2c3087277221" type="TEST_FILE:SIZE_EMPTY">
				<ee:transform doc:name="Transform Message" doc:id="e647d8de-97aa-4cee-8865-495fa35a9310" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": "File size too long. Error display"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
